body {
 font-family: "arial","meiryo",sans-serif;
}

html {
  font-size: 20px;
  text-align: center;
}


#h1_font {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  letter-spacing: 1.2em;
  text-shadow: 0px 2px 0px black;
}

#border {
  border-bottom: solid 3px rgb(115, 115, 114);
  width: auto;
}

.skyblue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

#basic > p {
  font-weight: bold;
}




